<launch>
    <param name="/use_sim_time" value="false"/> <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <include file="$(find rplidar_ros)/launch/test_rplidar.launch">
        <arg name="serial_port" value="/dev/rplidar"/> 
    </include>

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster"
          args="0 0 0.18 0 0 0 base_footprint laser 100" />
            
    <node name="scan_fixer_node" pkg="otonom_robot" type="scan_fixer.py" output="screen" />
    
    <node name="cartographer_node" pkg="cartographer_ros"
          type="cartographer_node" args="
              -configuration_directory $(find otonom_robot)/config
              -configuration_basename cartographer_config.lua"
          output="screen">
        <remap from="scan" to="/scan_fixed" />
        <remap from="imu" to="/imu/data" /> 
    </node>
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
          type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find otonom_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find otonom_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find otonom_robot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find otonom_robot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find otonom_robot)/config/base_local_planner_params.yaml" command="load" />
        
        <remap from="cmd_vel" to="/cmd_vel_mux/input/navi"/>
        <remap from="odom" to="/odom"/>
        <remap from="scan" to="/scan_fixed"/> </node>

    <node name="boundary_explorer_node" pkg="otonom_robot" type="boundary_explorer_v2.py" output="screen">
        <remap from="/cmd_vel" to="/cmd_vel_mux/input/teleop"/> 
        </node>
    <node name="mission_control_node" pkg="otonom_robot" type="mission_control.py" output="screen" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find otonom_robot)/rviz/otonom_robot.rviz" />
    
</launch>
